.box1{
  display: flex;
  justify-content: space-between;
}
h1{
  font-size: 40px;
}
p{
  font-size: 22px;
  font-weight: 500;
}
.btn1{
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  background-color: black;
  color: white;
}
.box2{
  width: 60%;
}
.box3{
  display: flex;
  justify-content: space-between;
}
